.signUpAdvert {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.6) 100%),
    url("/images/Learning.jpg");
  background-size: cover;
  background-position: center;

  border-radius: 32px;
  height: 50vh;
  width: 78vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.basicText {
  margin-top: 20%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  color: white !important;
}

.ctaBtn {
  margin-top: 10%;
  border-radius: 9999px;
  padding: 1.5rem 2.25rem;
  background-color: #ec4899;
  color: white;
  font-weight: 600;
  font-size: large;
}

.ctaBtn:hover {
  background-color: #db2777;
}
