.basicText {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  color: white;
}

.howItWorks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  place-items: center;
}

@media (max-width: 767px) {
  .howItWorks {
    grid-template-columns: 1fr;
  }
}

/* reusable ones below */

.basicGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
