.basicText {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  color: white;
}

.basicText p {
  font-weight: 400;
}

.basicText h3 {
  font-weight: 600;
  font-size: 3.5rem;
}

.subjectCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 2rem; /* space between cards */
  margin-top: 2rem;
}
