.ctaBtn {
  margin-top: 10%;
  border-radius: 9999px;
  padding: 1.5rem 2.25rem;
  background-color: #ec4899;
  color: white;
  font-weight: 600;
  font-size: large;
}

.ctaBtn:hover {
  background-color: #db2777;
}
