.card {
  border-radius: 1rem;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  text-align: center;
  background-color: white;
  border: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
