.hero {
  background-size: cover;
  background-position: center;
  /* min-height: 50vh; */
  /* padding: 6rem; */
  align-items: center;
  justify-content: center;
  display: flex;
}

.children {
  max-width: min(55%, 100vw);
  padding: 6rem;
}
